<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating documents</title>
</head>
<body>

<form action="#" th:action="@{/document-create}" th:object="${document}" method="post">
    <input type="text" th:field="*{passportnumber}" id="passportnumber" placeholder="Passport number"/>
    <div th:if="${#fields.hasErrors('passportnumber')}"  th:errors="*{passportnumber}" style="color: red"></div>

    <input type="text" th:field="*{passport_series}" id="passport_series" placeholder="Passport series"/>
    <div th:if="${#fields.hasErrors('passport_series')}"  th:errors="*{passport_series}" style="color: red"></div>

    <input type="date" th:field="*{birthdate}" id="birthdate" placeholder="Date of birth"/>
    <div th:if="${#fields.hasErrors('passportnumber')}"  th:errors="*{passportnumber}" style="color: red"></div>

    <input type="text" th:field="*{address}" id="address" placeholder="Address"/>
    <div th:if="${#fields.hasErrors('passportnumber')}"  th:errors="*{passportnumber}" style="color: red"></div>

    <input type="submit" value="Create document">
</form>
</body>
</html>