<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating documents</title>
</head>
<body>

<form th:action="@{/document-create}" th:object="${document}" method="post">
    <input type="text" th:field="*{passportnumber}" id="passportnumber" placeholder="Passport number"/>
    <div th:if="${#fields.hasErrors('passportnumber')}"  th:errors="*{passportnumber}" style="color: red"></div>

    <input type="text" th:field="*{passportseries}" id="passportseries" placeholder="Passport series"/>
    <div th:if="${#fields.hasErrors('passportseries')}"  th:errors="*{passportseries}" style="color: red"></div>

    <input type="date" th:field="*{birthdate}" id="birthdate" placeholder="Date of birth"/>
    <div th:if="${#fields.hasErrors('birthdate')}"  th:errors="*{birthdate}" style="color: red"></div>

    <input type="text" th:field="*{address}" id="address" placeholder="Address"/>
    <div th:if="${#fields.hasErrors('address')}"  th:errors="*{address}" style="color: red"></div>

    <input type="submit" value="Create document">
</form>
</body>
</html>