<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Role detail</title>
</head>
<body>
<div>
        <h2>Roles</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${role.id}"></td>
                <td th:text="${role.name}"></td>
            </tr>
            </tbody>
        </table>
</div>
</body>
</html>