<div th:fragment="footerMain">
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">SHOPPING CENTER VECTOR</p>
                    <p class="text-justify"><i>"SEARCHING FOR MYSTERY?"</i></p>
                    <p class="text-justify">Shopping center for family rest and holidays.</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="">Advertisements</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="/about">About Us</a></li>
                        <li><a href="https://vk.com/public217458648">Contact Us</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                        <li><a href="/home">Home</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
                        <a href="/home">VECTOR</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li>
                            <a href="https://vk.com/public217458648">
                                <img class="img-size-vk" src="https://upload.wikimedia.org/wikipedia/commons/9/9a/VK_Logo.png">
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/KetsuneTheFiryCannon?tab=repositories">
                                <img class="img-size-git" src="https://cdn-icons-png.flaticon.com/512/25/25231.png">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>