<div th:fragment="headerMain">
    <div class="sample-header">
        <div class="sample-header-section">
            <h1 class="text-center">Searching for mysteries?</h1>
            <h2 class="text-center text-font-cursive">You're welcome if you dare...</h2>
        </div>
    </div>
    <div class="sample-section-wrap">
        <div class="sample-section">
            <tr>
                <th>
                    <a href="/roles-all" type="button" class="btn btn-success">Roles</a>
                </th>
                <th>
                    <a href="/documents-all" type="button" class="btn btn-success">Documents</a>
                </th>
                <th>
                    <a href="/personalities-all" type="button" class="btn btn-success">Personalities</a>
                </th>
            </tr>
        </div>
    </div>
</div>