<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About page</title>
</head>
<body>
<h1>
    About page
</h1>
<a href="/home">
    Redirecting to home page
</a>
<p th:text="${total}">
</p>


<h4>
    Post method
</h4>
<form action="/about" method="post">
    <table>
        <tr>
            <td>Num 1:</td>
            <td><input type="text" name="first_key"/></td>
        </tr>
        <tr>
            <td>Num 2:</td>
            <td><input type="number" name="second_key"/></td>
        </tr>
        <p>
            <select size="4" name="sign">
                <option disabled>Change sign</option>
                <option selected value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
        </p>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>


<h4>
    Get method
</h4>
<form action="/about" method="get">
    <table>
        <tr>
            <td>Num 1:</td>
            <td><input type="text" name="first_key"/></td>
        </tr>
        <tr>
            <td>Num 2:</td>
            <td><input type="number" name="second_key"/></td>
        </tr>
        <p>
            <select size="4" name="sign">
                <option disabled>Change sign</option>
                <option selected value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
        </p>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>

</body>
</html>