<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление нового студента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>



<div th:object="element : ${advertisements}">
    <tr>
        <th>Ad name</th>
        <th>Ad price</th>
        <th>Ad status</th>
        <th>Ad text</th>
        <th>Ad text</th>
    </tr>
    <tr th:each="doc : ${docs}">
        <td th:text="${doc.passportnumber}"></td>
        <td th:text="${doc.passportseries}"></td>
        <td th:text="${doc.birthdate}"></td>
        <td th:text="${doc.address}"></td>
        <td><a th:href="'/document-update/'+${doc.id}">Edit</a></td>
        <td><a th:href="'/document-delete/'+${doc.id}">Del</a></td>
    </tr>

</div>

<form th:action="${'/advertisement-create'}" method="post">
    <select  name="advertisement">
        <div th:each="element : ${advertisements}">
<!--            <option th:text="${element.advertisementname}"></option>-->
            <option th:name="advertisementid" th:text="${element.advertisementname}" th:value="${element.advertisementid}"></option>
        </div>
    </select>
    <select  name="photo">
        <div th:each="element : ${photos}">
            <option th:text="${element.photoname}"  th:value="element.photoid">
            </option>
        </div>
    </select>
    <br>
    <button type="submit">Добавить человека</button>
</form>
</body>
</html>